
/* FAQ's */
.titleFAQ {
  margin-top: 4%;
  text-align: center;
  font-family: "Zilla Slab", serif;
  font-size: 30pt;
  margin-bottom: 0;
}

.foldingFAQ {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 2% 2%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2.5rem;
  transition: 0.5s;
  margin-top: 0;
  font-family: 'Playfair Display', serif !important;

}

/*Highlights drop down menus on hover*/
.active,
.foldingFAQ:hover {
  background-color: #ccc;
}
.foldingFAQ:after {
  content: "\02795"; /*unicode for plus sign*/
  font-size: 60%;
  color: #777;
  float: right;
  margin-left: 20%;
  margin-right: 0;
  border: none;
  padding: 0;
  margin-top: 1%;
}
.active:after {
  content: "\2796";
  margin-top: 1%;
}
/*Styling for text under drop down*/
.board {
  display: none;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding: 1% 2% 1%;  
  background-color: #eee;
}

/* restaurant title */
.titleText {
font-size: 1.5rem;
  font-family: 'Roboto Slab', serif !important;
  letter-spacing: 6px;
  text-align: left;
}

/* restaurant description */
.paragraphText {
font-size: 1rem;
  font-family: 'Open Sans', serif !important;
  text-align: left;
  /* margin-right: 3%; */
  max-width: 50%;
}

/* restaurant image */
.restImg {
  padding: 3%;
}

/* restaurant website */
.restWeb {
  text-decoration: underline;
  color: black;
  font-size: 1.25rem;
}

/* juice store img */
#juice {
  width: 30%;
  height: auto;
}
/* doughnuts store img */
#dough {
  width: 30%;
  height: auto;
}

/* pizza store img */
#pizza {
  width: 30%;
  height: auto;
  object-fit: cover;
  object-position: 15% 10%;
}

/*Question tabs*/
.responsiveFAQ {
  padding-left: 6%;
  padding-top: 8%;
  float: left;
  width: 75%;
}

@media only screen and (max-width: 700%) {
  .responsiveFAQ {
    width: 49.99999%;
    margin: 6% 0;
  }
}

@media only screen and (max-width: 200%) {
  .responsiveFAQ {
    width: 100%;
  }
}

.bigFAQ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
